/* Navbar Responsiva */
nav {
  width: 100%;
  background-color: var(--cor02);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

nav > a {
  color: var(--cor06);
  text-decoration: none;
  padding: 13px;
  transition: 0.3s;
  font-family: var(--font_titulo);
  font-size: 1.3em;
}

nav > a:hover {
  background-color: var(--cor05);
  border-radius: 15px;
}
